<p>roles works!</p>
<div class="container">
    <div class="row">
        <div class="col-3">
            <p>{{firstName}}</p>
        </div>
        <div class="col-3">
            <p>{{angularVersion}}</p>
        </div>
        <div class="col-3">
            <p>{{currentDate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
           <input type="text" class="form-control" [value]="firstName" placeholder="Enter First Name">
        </div>
        <div class="col-3">
            <p>{{angularVersion}}</p>
        </div>
        <div class="col-3">
            <p>{{currentDate}}</p>
        </div>
    </div>
</div>

    
