<p>roles works!</p>
<div class="container">
    <div class="row">
        <div class="col-3">
            <p>{{firstName}}</p>
        </div>
        <div class="col-3">
            <p>{{angularVersion}}</p>
        </div>
        <div class="col-3">
            <p>{{currentDate}}</p>
        </div>        
    </div>
    <div class="row">
        <div class="col-3">
         One way data binding  <input type="text" class="form-control" [value]="firstName" placeholder="Enter First Name">
        </div>
        <div class="col-3">
        <input [type]="inputType" placeholder="Custom Control">
        </div>
        <div class="col-3">
      Two way data binding  <input type="text" class="form-control" [(ngModel)]="firstName" placeholder="Enter First Name">
        
                    </div>
    </div>
    <div class="row">
        <div class="col-3">
            Role:{{selectedRole}}
        </div>
        <div class="col-3">
          
        </div>
        <div class="col-3">         
            Select New role: <select [(ngModel)]="selectedRole"  >
                <option *ngFor="let item of users" [value]="item.userId">{{item.role}}</option>                
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
           Event Binding: <button class="btn btn-success" (click)="showAlert()">Show Alert</button>
        </div>
        <div class="col-3">
            <button class="btn btn-success" (click)="showAlertMessage(firstName)">Show Alert</button>
        </div>
        <div class="col-3">
            <button class="btn btn-success" (click)="showAlertMessage(selectedRole)">Show Alert</button>
        </div>
    </div>
</div>
<div class="row">   
    <div class="col-3"> 
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Role</th>
                    <th>FullName</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of users; let i = index">
                    <td>{{i}}</td>
                    <td>{{item.role}}</td>
                    <td>{{item.fullName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
